@import "https://unpkg.com/open-props";
@import url('bevellier.css');

body,html {
    overflow-x:hidden;
}
body {
    margin:0;
    font-family: 'Bevellier', sans-serif;;
    color:#FFF;
}
section {
    display:flex;
    align-items:center;
    justify-content: center;
	height: 100vh;
}
.panel-1 {
  background: var(--gradient-3);
}
.panel-2 {
  background: var(--gradient-22);
}

.panel-3 {
  background: var(--gradient-18);
}


h1 {
    font-size:4rem;
}

font-family: 'Bevellier', sans-serif;